<p id="notice"><%= notice %></p>

<h1>Budgets</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Member</th>
      <th scope="col">Cap</th>
      <th scope="col">Spent</th>
      <th scope="col">Progress</th>
      <th scope="col">Time frame</th>
      <th scope="col">Days</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.category %></td>
        <td><%= budget.member.user.name %></td>
        <td>$ <%= budget.cap %></td>
        <td>$ <%= budget.spent %></td>
        <td><%= budget.progress %></td>
        <td><%= budget.time_frame_display %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', family_path(current_user.member.family) %>
