<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @budget.category %>
</p>

<p>
  <strong>Member:</strong>
  <%= @budget.member_id %>
</p>

<p>
  <strong>Time frame:</strong>
  <%= @budget.time_frame %>
</p>

<p>
  <strong>Days:</strong>
  <%= @budget.days %>
</p>
<br>

<%= link_to '<button type="button" class="btn btn-primary">Add New Expense</button>'.html_safe, new_expense_path(budget: @budget.id) %>

<br>
<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
