<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @budget.category %>
</p>

<p>
  <strong>Member:</strong>
  <%= @budget.member_id %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @budget.cap %>
</p>

<p>
  <strong>Total spent so far:</strong>
  <%= @recent_expenses.map(&:cost).inject(0){|sum,x| sum + x } %>
</p>

<p>
  <strong>Time frame:</strong>
  <%= @budget.time_frame %>
</p>

<p>
  <strong>Days:</strong>
  <%= @budget.days %>
</p>
<br>

<table class="table">
<tr>
<th scope="col">Name</th>
<th scope="col">Cost</th>
<th scope="col"></th>
<th scope="col"></th>
<th scope="col"></th>
</tr>
<tbody>
<% @budget.expenses.each do |expense| %>
  <tr>
    <td><%= expense.name %></td>
    <td><%= expense.cost %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to 'Add New Expense', new_expense_path(budget: @budget.id) %>

<br>
<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
