<%= form_with(model: family) do |form| %>
  <div class="form-group">
    <%= form.label :name, "Family Name" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
        <% family.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="form-group">
    <div class="actions">
      <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
