<p id="notice"><%= notice %></p>

<h1><%= @family.name %> Family</h1>

<table class="table">
  <thead>
  
  <th>Name</th>
  <th>Role</th>
  <th></th>
  </thead>

  <tbody>
    <% @family.members.each do |member| %>
      <tr>
        <td><%= member.user.name %></td>
        <td><%= member.role %></td>
        <td><%= link_to 'See Details', member %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_a_parent? %>
<%= link_to 'Add New Member', new_member_path %> | 

<%= link_to 'Edit Family', edit_family_path(@family) %> |

<%= link_to 'View All Budgets', budgets_path %>
<% end %>