<p id="notice"><%= notice %></p>

<p>
  <strong>Approved:</strong>
  <%= @expense.approved %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.cost %>
</p>

<p>
  <strong>Budget:</strong>
  <%= link_to "#{@expense.budget.category}", @expense.budget %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', @expense.budget %>
