<!DOCTYPE html>
<html>
  <head>
    <title>Heardonsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_session %>
        <%= link_to '<button type="button" class="btn btn-outline-dark btn-sm">Sign Out</button>'.html_safe, destroy_user_session_path %>
        <br>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
