<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
  </p>

  <%= form.select :role, options_for_select(Member.roles.map {|k,v| k}) %>

  <%= form.hidden_field :family_id, value: @family.id %>
  <%= form.hidden_field :user_id, value: 1 %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
