<%= form_with(model: member) do |form| %>
  <% @errors = member&.errors || @user&.errors&.errors || [] %>
  <% if @errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% @errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, options_for_select(Member.roles.map(&:first)) %>
  </div>

  <%= form.hidden_field :family_id, value: current_user.member.family.id %>
  <%= form.hidden_field :user_id, value: 1 %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
