<p id="notice"><%= notice %></p>

<p>
  <strong>Family:</strong>
  <%= @member.family.name %>
</p>

<strong>Budgets:</strong>
<br>
<% @member.budgets.each do |budget| %>
  <%= link_to "#{budget.category}", budget %>
  <br>
<% end %>
<br>

<% if Member.find_by_user_id(current_user.id).role == 'parental' %>
  <%= link_to '<button type="button" class="btn btn-primary">Add New Budget</button>'.html_safe, new_budget_path(family: @member.family.id, member: @member.id) %>
<% end %>

<br>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', family_path(@member.family_id) %>
