<p id="notice"><%= notice %></p>

<h2><%= @member.user.name %></h2>
<p>
  <strong>Family:</strong> <%= @member.family.name %>
</p>
<p>
  <strong>Email:</strong> <%= @member.user.email %>
</p>
<p>
  <strong>Role:</strong> <%= @member.role %>
</p>
<br>
<table class="table">
  <thead>
  
  <th>Category</th>
  <th>Budgeted</th>
  <th>Time Frame</th>
  <th>Progress</th>
  <th></th>
  <th></th>
  <th></th>
  </thead>

  <tbody>
    <% @member.budgets.each do |budget| %>
      <tr>
        <td><%= budget.category %></td>
        <td><%= budget.cap %></td>
        <td><%= budget.time_frame %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @member.budgets.empty? %> 
  No budgets for this member
<% end %>
<br>
<br>
<% if @member.role == 'parental' %>
  <%= link_to 'Add New Budget', new_budget_path(family: @member.family.id, member: @member.id) %>
<% end %>

<br>
<%= link_to 'Back', family_path(@member.family_id) %>
